.example-spacer {
    flex: 1 1 auto;
  }

  .navLinks:hover{
    border: 1px solid white;
    cursor:pointer;
  }
  .searchbox{
    font-size: 12px;
  }
  .btns:click{
border: 1px solid white;
cursor:pointer;
  }