<div style="width:100%;position:fixed;top: 0%;">
  
  <mat-toolbar color="primary" style="width: 100%;">
    <mat-toolbar-row>
      <!-- <span>My App</span> -->
     
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;" routerLink="/home"> Home </a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;" routerLink="/login"> Login</a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;" routerLink="/register"> register</a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;"> Home & Kitchen</a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;"> Fashion</a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;"> Mobile</a> 
      <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;color: white;"> Customer Service</a> 
       <!-- <span class="example-spacer"></span> -->
    <div >

      <input style="width: 400px;height:22px" type="text" name="search">
    <button class="btns" type="submit" style="height:28px;cursor: pointer;background-color: orange;">Submit</button>
    </div>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="height: 27px;">menu</mat-icon>All
      </button>
     
      <!-- <a class="navLinks" style="padding:0px 9px;margin:5px 0 6px 0;font-size: 15px;"> All <mat-icon>menu</mat-icon>  </a>  -->

    </mat-toolbar-row>
 

    <mat-toolbar-row>
      <!-- <span>Second Line</span> -->
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
