.field{
    width: 600px;
    height: 650px;
    background-color:white;
   
    margin-top: 6%;
    justify-content: center;
    
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
  }
  
  td {
    padding-right: 8px;
  }
  .fields{
    width: 600px;
    height: 500px;
    background-color:#270d19f6;;
    
    margin-top: 12%;
  }
  .register{
    width: 600px;
    height: 600px;
    background-color:white;
    margin-left: 31%;
    margin-top: 11%;
    justify-content: center;
    position: absolute;
  }
  